body {
    background-color: #0b0f14;
    color: #00ffcc;
    font-family: "Courier New", monospace;
}

nav {
    background: #020409;
    padding: 15px;
    display: flex;
    gap: 20px;
}

nav a {
    color: #00ffcc;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff0066;
}

.logout {
    margin-left: auto;
    color: #ff0066;
}

.container {
    padding: 20px;
}

.card {
    background: #020409;
    border: 1px solid #00ffcc;
    padding: 15px;
    margin-bottom: 20px;
}
