<form method="post">
  <h2>Register</h2>
  <input name="uid" placeholder="User ID"><br>
  <input name="username" placeholder="Username"><br>
  <input name="password" type="password" placeholder="Password"><br>
  <input name="gender" placeholder="Gender"><br>
  <input name="address" placeholder="Address"><br>
  <input name="city" placeholder="City"><br>
  <input name="contact" placeholder="Contact"><br>
  <input name="dob" type="date"><br>
  <input name="email" placeholder="Email"><br>
  <button type="submit">Register</button>
</form>
